html {
    font-size: 16px ;
}

body {
/*    background-color: red ;*/
    margin: 3em ;    
    font-family: 'Archivo', sans-serif;
    background-image: linear-gradient(-89deg, rgba(216,216,216,0.14) 0%, rgba(238,238,238,0.13) 100%);
/*    margin: 0 ;*/
    
}

header {
    display: grid ;
    grid-template-columns: 1fr 2fr ;
}

#logo {
    font-family: Helvetica, Arial, sans-serif ;
/*    font-family: Helvetica-BoldOblique;*/
    font-size: 2.5rem;
    color: #000000;
    letter-spacing: -1px;
    text-transform: uppercase ;
    font-style: italic ;
    font-weight: bold ;
}

nav ul {
    list-style-type: none ;
    text-align: right ;
}

nav ul li {
    font-size: .8rem ; 
    display: inline-block ;
    margin-left: 20px ;
}

nav ul li.you_are_here {
    border-bottom: 2px solid rgba(255, 96, 0, 0.85) ; 
    padding-bottom: 4px ;
    padding-left: 4px ;
    padding-right: 4px ;
}

#main {
    display: grid ;
    grid-template-columns: 1fr 2fr ;
/*    grid-template-rows: 300px 300px ;*/
    margin-left: 2em ;
    margin-right: 2em ;
    margin-top: 2em ;
}

#photo_gallery_child {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-row-gap: 10px ;
    grid-column-gap: 10px ;
}

#photo_gallery_child #photo_gallery_big {
    grid-column-start: 1 ;
    grid-column-end: 8 ;
    width: 100% ;
    height: 400px ;
} 

#photo_gallery_child {
    padding: 1em ;
    border-radius: 20px ;
    background-color: #fff ;
    box-shadow: 2px 0px 15px rgba(54, 54, 54, 0.29);
}

#photo_gallery_child div {
    background-color: grey ;
/*    width: 50px ;*/
    height: 50px ;
}


nav, div, p, h1, h2, h3, h4, h5, ul, li {
/*    border: 3px solid red ;*/
}